/* ------ Global Variables ------ */
:root {
    --main-color: #12b8b5;
    --hover-color: #0f747f;
    --transparent-color: rgb(0 0 0 / 33%);
    --secondary-color: #f0f0f0;
    --main-section-padding: 100px;
    --main-radius: 15px;
    --main-transition: 0.3s;
}

/* ------ Global Rules ------ */
* {
    /* border: 1px solid; */
}

body {
    font-family: 'Tajawal', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Padding Utilities */
.p-100 {
    padding: var(--main-section-padding);
}

.p-top-100 {
    padding-top: var(--main-section-padding);
}

.p-bottom-100 {
    padding-bottom: var(--main-section-padding);
}

/* Background Color Utilities */
.bg-gray {
    background-color: var(--secondary-color);
}

.bg-blue {
    background-color: var(--main-color);
    transition: .5s ease-in-out;
}

.bg-blue:hover {
    background-color: var(--hover-color);
}

/* Text Color Utilities */
.text-blue {
    color: var(--main-color);
}

/* Button Styles */
.btn {
    transition: var(--main-transition) ease-in-out;
}

.btn:hover {
    color: white;
    background-color: var(--hover-color);
}

/* Border Radius Utilities */
.rad {
    border-radius: var(--main-radius);
}

.rad-top {
    border-radius: var(--main-radius) var(--main-radius) 0 0;
}

.rad-bottom {
    border-radius: 0 0 var(--main-radius) var(--main-radius);
}

/* Border Color Utility */
.border-blue {
    border: 1px solid var(--main-color);
}

/* Glass Effect Utility */
.glass {
    background-color: var(--transparent-color);
}

/* ------ End Global Rules ------ */
/* loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Set your background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
  }
  
  .loading-spinner {
    border: 8px solid #f3f3f3; /* Light gray border */
    border-top: 8px solid #3498db; /* Blue border for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Add animation for rotation */
  }
  

  
/* ------ Navbar Styles ------ */

/* Navbar Container */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
}

/* Navbar Links */
.nav-link {
    color: white !important;
    font-size: 12px;
}

/* Contact Nav */
.contact-nav {
    height: 50px;
}

.contact-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.204);
    top: 45px;
    left: 0;
    transition: .5s ease-in-out;
}

/* Navbar Toggler */
.navbar-toggler {
    width: 50px;
    text-align: center;
}

/* Navbar Link Hover Styles */
.link:hover,
.active,
.nav-link:hover {
    color: var(--main-color) !important;
    font-weight: bolder;
}

/* Blue Filter Animation */
.filter-blue {
    transition: .25s ease-in-out;
}

.filter-blue:hover {
    filter: invert(74%) sepia(36%) saturate(6225%) hue-rotate(134deg) brightness(91%) contrast(86%);
}

/* ------ End Navbar Styles ------ */

/* ------ Carousel Styles ------ */

/* Carousel Container */
#carouselExampleCaptions {
    height: 80vh;
    position: relative;
}

#carouselExampleCaptions img {
    object-fit: fill;
    object-position: center center;
}

/* Black Overlay Layout */
.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: .5;
    border-radius: var(--main-radius);
}

/* Carousel Caption */
.carousel-caption {
    position: absolute;
    z-index: 100;
    top: 39%;
    right: 17%;
    color: white;
    width: 53%;
    font-size: 20px;
    font-weight: bolder;
    text-align: start;
}

/* Carousel Controllers */
.carousel-controllers {
    position: absolute;
    bottom: 3%;
    right: 5%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Carousel Button Styles */
button.carousel-btn {
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.253);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    transition: .3s ease-in-out;
}

button.carousel-btn:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}



/* ------ End Carousel Styles ------ */


/* ------ Certifications Styles ------ */
.image {
    max-width: 100%;
    height: auto;
    position: relative;
}

.image.top {
    top: -100px;
}

.image.bottom {
    bottom: -100px;
}
/* ------ End Certifications Styles ------ */


/* ------ About Section Styles ------ */
.about-img {
    position: relative;
    animation: up-and-down 5s linear infinite;
}
/* ------ End About Section Styles ------ */


/* ------ Media Library Styles ------ */
section#media {
    background-image: url("../Media/Media-library-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* ------ End Media Library Styles ------ */


/* ------ News Section Styles ------ */
section#news .badge {
    right: 5%;
    top: 7%;
}

.card {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.news-card:hover .btn .fa-arrow-left {
    animation: moving-arrow 0.6s linear infinite;
}
/* ------ End News Section Styles ------ */


/* ------ Partners Section Styles ------ */
section#partners .partner-card {
    border: 1px solid rgba(91, 88, 88, 0.248);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    
}

section#partners .partner-card img {
    position: relative;
    width: 80%;
    object-fit: contain;
    object-position: center center;
    transition: var(--main-transition);
}
section#partners .partner-card:hover img{
    transform: rotate(5deg) scale(1.5);
  } 
section#partners .partner-card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(24, 16, 16, 0.2);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
  }
  section#partners .partner-card:hover::before {
    animation: flashing 0.7s;
  }
/* ------ End Partners Section Styles ------ */


/* ------ Footer Styles ------ */
footer {
    background-color: black;
    color: white;
}

footer .social a {
    display: inline-block;
    color: white;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 0 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

footer .social a:hover {
    background-color: var(--main-color);
}
/* ------ End Footer Styles ------ */

/* Responsive Styles */
@media (min-width: 481px) {
    button.carousel-btn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .carousel-caption {
        font-size: 30px;
    }
}

@media (min-width: 769px) {
    button.carousel-btn {
        width: 50px;
        height: 50px;
        font-size: 15px;
    }
    .carousel-caption {
        font-size: 40px;
    }
    #carouselExampleCaptions img {
        object-fit: cover;
        object-position: center center;
    }
}

/* ------ Animation Styles ------ */
@keyframes moving-arrow {
    100% {
        transform: translateX(-10px);
    }
}

@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@keyframes flashing {
    0%,
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 200%;
      height: 200%;
    }
  }


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* ------ End Animation Styles ------ */
